body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #aaaaaa;
    background-color: #11171A;
}

/*
** Customize pure css
*/

.pure-g [class *="pure-u"] {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

a:hover {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

/*
** GLOBAL
*/

.transition {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.margin-auto {
    margin: auto;
}

.text-left {
    text-align: left;
}

section {
    width: 100%;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.container .content {
    margin: 0px;
}

@media screen and (max-width: 1024px) {
    .container .content {
        margin: 0 2em;
    }
}

@media screen and (max-width: 560px) {
    .container .content {
        margin: 0 1em;
    }
}

.opensans {
    font-family: "Open Sans", sans-serif;
}

/*
** Banner
*/

section.banner {
    background-image: url("/img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100%;
    height: 100vh;
    display: table;
    margin: 0;
    max-width: none;
    text-align: center;
}

section.banner .content {
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 150px;
}

.banner-title img {
    /*max-height: 100%;*/
}

.banner .scroll {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
/*    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;*/

    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

@-webkit-keyframes bounce {
    from, 20%, 53%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0,-4px,0);
        transform: translate3d(0,-4px,0);
    }
}

@keyframes bounce {
    from, 20%, 53%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0,-4px,0);
        transform: translate3d(0,-4px,0);
    }
}

.banner .scroll .scroll-icon {
    width: 40px;
    height: auto;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -20px;
}

@media screen and (max-width: 1024px) {
    section.banner {
        table-layout:fixed;
    }

    section.banner .content {
        width: 100%;
        padding-left: 32px;
        padding-right: 32px;
    }

    section.banner img {
        max-width: 100%;
    }
}

@media screen and (max-width: 460px) {
    section.banner .content {
        padding-bottom: 64px;
    }

    .banner .scroll .scroll-icon {
        width: 28px;
        height: auto;
        margin-left: -14px;
    }
}

@media screen and (max-height: 420px) {
    .scroll {
        display: none;
    }

    section.banner .content {
        padding-bottom: 0;
    }
}

/*
** Work
*/

section.work {
    position: relative;
    text-align: center;
}

section.work .container {
    padding-top: 5em;
    max-width: 1130px;
}

h1.title {
    font-weight: 400;
    margin-bottom: 2em;
}

.project {
    position: relative;
    padding: 12px 16px;
    /*height: auto;*/
}

.project .wrapper {
    position: relative;
    max-height: 240px;
}

.project-img img {
    width: 100%;
    height: auto;
    max-height: 240px;
}

.wrapper a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper a:hover {
    opacity: 1;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.bgred {
    background-color: rgba(0, 0, 0, 0.89);
}

.project .description {
    padding: 48px 24px;
    text-align: left;
    color: #d5d5d5;
    overflow: hidden;
    word-wrap: break-word;
}

.project .description h2.project-name {
    margin-bottom: 24px;
}

.project .description .tagnames {
    position: absolute;
    bottom: 24px;
}

.project .description .tagname {
    display: inline-block;
}

.project .description .tagname span {
    display: block;
    padding: 6px 8px;
    margin-right: 8px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 1px;
    border: solid 2px rgba(255,255,255, 0.5);
}

.project .project-detail {
    font-size: 14px;
    letter-spacing: 1px;
}



/* divider */
.work .divider {
    position: relative;
    margin-top: 5em;
}

.work .divider hr {
    margin: 0 16px;
}

.work .divider img {
    position: absolute;
    top: -20px;
    margin-left: -20px;
    height: 40px;
    width: auto;
}

@media screen and (max-width: 1024px) {
    .project-img img {
        width: 100%;
        height: auto;
        max-width: 460px;
        max-height: 260px;
    }

    .work .project {
        max-width: 460px;
        max-height: 260px;
        margin: auto;
        margin-bottom: 1.6em;
    }

    .work .wrapper {
        max-height: 260px;
    }
}

@media screen and (max-width: 460px) {
    .work .divider hr {
        margin: 0;
    }

    .project-img img {
        width: 100%;
        height: auto;
        max-width: 345px;
        max-height: 240px;
    }

    .work .project {
        max-width: 345px;
        max-height: 240px;
        margin: auto;
        margin-bottom: 1.6em;
        padding: 12px 0;
    }

    .work .wrapper {
        max-height: 240px;
    }
}

/*
** About
*/

section.about {
    position: relative;
    text-align: center;
}

section.about .container {
    position: relative;
    padding-top: 7em;
    min-height: 640px;
}

section.about .profile-img {
    width: 210px;
    height: 210px;
    overflow: hidden;
}

section.about .container .content {
    margin-top: 5em;
    padding-bottom: 3em;
}

section.about .container .content p {
    text-align: left;
    letter-spacing: 1px;
    line-height: 1.5em;
}

section.about .container .content h1.title {
    text-align: left;
    color: #e5e5e5;
    margin-bottom: 1.2em;
}

a.url {
    color: #FFA000;
    border-bottom: solid 1px rgba(255,160,0, 0.4);
}

a.url:hover {
    color: #FFC107;
}

.hightline {
    color: #E91E63;
}

.exim {
    color: #e5e5e5;
    font-weight: 600;
}

/*
** Contact
*/

section.contact .container {
    padding-top: 5em;
}

section.contact .container .content {
    padding-bottom: 3em;
    text-align: center;
}

a.button {
    display: inline-block;
    border: solid 3px rgba(255,255,255, 0.3);
    padding: 5px;
}

.button span {
    display: block;
    background-color: #E5E5E5;
    padding: 20px 24px;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #2C3E50;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.button span:hover {
    background-color: rgba(255,255,255, 0.25);
    color: #f5f5f5;
}

section.contact h2 {
    margin-top: 2.5em;
    font-weight: 400;
}

section.contact .skype {
    letter-spacing: 1px;
    font-weight: 600;
}

section.contact .skype span {
    margin-right: 8px;
}

section.contact .skype img {
    opacity: 0.7;
    width: 19px;
    height: 19px;
}

.social-media {
    padding-top: 2em;
    padding-bottom: 2em;
}

.social-media .icon {
    position: relative;
    width: 64px;
    height: 64px;
    margin: 0 12px;
    overflow: hidden;
    display: inline-block;
}

.social-media .icon a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.social-media .icon a:hover {
    opacity: 0.8;
}

.social-media .icon img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 460px) {
    .social-media .icon {
        width: 32px;
        height: 32px;
        margin: 0 8px;
    }
}

/*
** Footer
*/

footer {
    background-color: rgba(255,255,255,0.05);
}

footer .container {
    padding: 12px 0;
    letter-spacing: 1px;
}

footer p {
    margin: 8px 0;
}

/*
** Navbar (only Mobile)
*/

.navbar {
    width: 100%;
    height: 56px;
    display: none;
}

.navbar-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0;
    margin: 0;
    z-index: 99;
    background-color: rgba(0,0,0, 0.86);
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.05);
}

.navbar ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.navbar ul li {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 100%;
    text-align: center;
}

.navbar a {
    display: block;
    line-height: 56px;
    font-size: 14px;
    font-weight: 600;
}

.navbar a:active {
    color: #f5f5f5;
    background-color: rgba(255,255,255, 0.05);
}

@media screen and (max-width: 460px) {
    .navbar {
        display: block;
    }
}